.app-view-header
  strong(ng-bind='$root.pos.name')
  small Frente de Caixa
.container-fluid.container-flush
  .row
    .col-lg-12.col-md-12.col-xs-12

      .table-responsive
        table.table.table-striped
          thead
            tr
              th produto
              th valor
              th quantidade
              th valor total
          tbody
            tr(ng-repeat="item in ctrl.selectedSale.items")
              td
                span(ng-bind='item.product.name')
              td
                span(ng-bind='item.product.price | currency : "R$" : 2')
              td
                span(ng-bind='item.quantity')
              td
                span
                  | {{(item.product.price * item.quantity) | currency : 'R$' : 2}}
          tfoot
            tr
              td
              td
              td
              td
                span(ng-bind="ctrl.calculateSellValue() | currency : 'R$' : 2")
  hr
  .row
    fieldset
      .col-lg-5.col-md-5
        .form-group
          label(class='control-label' for='barcode')
            | Produto
          input(id='barcode'
                ng-model='ctrl.search.barcode'
                class='form-control shadow-z1'
                type='text'
                ng-keyup="ctrl.tryProductSelection($event)"
                ng-blur="ctrl.tryProductSelection()")
      .col-lg-5.col-md-5
        .form-group
          label(class='control-label' for='quantity')
            | Quantidade
          input(id='quantity' ng-model='ctrl.search.quantity' class='form-control shadow-z1' type='text')
      .col-lg-1.col-md-1
        .form-group
          button.btn.btn-success.btn-circle.btn-lg.shadow-z1(type="button" ripple="" ng-click="ctrl.sell()")
            em.fa.fa-plus
      .col-lg-1.col-md-1
        .form-group
          button.btn.btn-primary.btn-circle.btn-lg.shadow-z1(type="button" ripple="" ng-click="ctrl.finalizeSell()")
            em.fa.fa-shopping-cart
  .row
    .col-lg-4.col-md-4.col-xs-6(ng-repeat="item in ctrl.storage | filter:ctrl.search.barcode")
      .row(ng-click='ctrl.selectProduct(item.product)')
        .col-md-12.col-xs-12
          // START Panel
          .panel.panel-card-xs.panel-card-image(chained-animation="fadeInUp" ng-style="{'background-image':'url({{product.images[0].secure_url}})'}")
            .panel-body-xs.text-center
            .panel-footer.text-center
              .btn-offset-inner(ng-if="ctrl.selectedProduct && ctrl.selectedProduct.id == product.id")
                button.btn.btn-success.btn-circle.btn-md.shadow-z1(type="button" ripple="" ng-click="ctrl.cancelProductSelection()")
                  em.fa.fa-check
              .row
                .col-md-12.col-xs-12
                  h2.text-lg.text-white {{ product.price | currency : 'R$' : 2 }}
                  small.text-white(ng-bind="product.name")
                  br
                  small.text-white(ng-bind="product.description")
                  br
                  label Código de barras:
                  small.text-white(ng-bind="product.barcode")
                  br
                  label Quantidade no Estoque:
                  small.text-white(ng-bind="product.quantity")