.app-view-header
  | Produtos
.container-fluid
  br
  .row
    .col-md-6
      .panel.panel-primary
        .btn-offset-inner
          button.btn.btn-primary.btn-circle.btn-lg.shadow-z1(type="button" ripple="" ng-click="ctrl.new()")
            em.fa.fa-plus
        .panel-heading
          | Para editar selecione um produto
        .panel-body
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th nome
                  th descrição
                  th preço
                  th imagem
                  th
                  th
              tbody
                tr(ng-repeat="product in ctrl.products" ng-class='{active: (product.id === ctrl.selectedProduct.id)}')
                  td
                    span(ng-bind="product.name")
                  td
                    span(ng-bind="product.description")
                  td
                    span(ng-bind="product.price | currency")
                  td
                    .img-thumbnail(ng-repeat="image in [product.images[0]]")
                      cl-image(public-id="{{image.public_id}}" class="img-circle inline" format="jpg")
                        cl-transformation(height="20" width="20" crop="fill")
                  td
                    a(href='#' class="fa fa-edit" ng-click="ctrl.edit(product)")
                  td
                    a(href='#' class="fa fa-trash-o" ng-click="ctrl.destroy(product)")

    .col-md-6(ng-show="ctrl.selectedProduct")
      .panel.panel-primary
        .panel-heading
          | Cadastro de Produto
        .panel-body
          form.form-validate.form-horizontal(action='#', name="product_form")
            fieldset
              .form-group
                label(class='col-md-2 control-label' for='product_name')
                  | Nome
                .col-md-10
                  input(id='product_name' ng-model='ctrl.selectedProduct.name' class='form-control shadow-z1' type='text')
            fieldset
              .form-group
                label(class='col-md-2 control-label' for='product_description')
                  | Descrição
                .col-md-10
                  input(id='product_description' ng-model='ctrl.selectedProduct.description' class='form-control shadow-z1' type='text')
            fieldset
              .form-group
                label.col-sm-2.control-label Preço
                .col-sm-10
                  input.form-control(type='number' name='product_price' ng-model="ctrl.selectedProduct.price" class='form-control shadow-z1')
            fieldset
              #direct_upload( ngf-drop
                              ngf-drag-over-class="{accept:'panel-success', reject:'panel-danger', delay:100}"
                              ng-model="ctrl.images"
                              ngf-multiple="false"
                              ngf-accept="'image/png,image/jpg,image/jpeg'"
                              class="panel panel-default" )

                .panel-heading
                  h3 Upload
                .panel-body
                  .col-md-6
                    .btn.btn-primary(href="#" type="file" ngf-select="true" ngf-capture="'other'" ngf-multiple="false" title="upload" ng-model="ctrl.images" ripple) Anexar Imagem
                  .col-md-6
                    .preview(ng-repeat='image in ctrl.selectedProduct.images')
                      .btn-offset-right-top
                        button.btn.btn-xs.btn-danger.btn-circle.shadow-z1(href="#" ng-click="ctrl.destroyImage(image.public_id)" ripple)
                          em.fa.fa-times
                      cl-image(public-id="{{image.public_id}}" class="thumbnail inline" format="jpg")
                        cl-transformation(height="150" width="150" crop="fill" gravity="north")
                .panel-footer
                  span(ng-if="ctrl.images") Detalhes do upload da imagem
                  .file(ng-repeat="image in ctrl.images")
                    h3(ng-bind="image.name | limitTo : 30")
                    .p
                      | Progresso
                      progressbar.progress-sm(value='image.progress' type='info')
                        .text-xs.text-center.align-top {{image.progress}}%
                    .info.table-responsive(style="display: none")
                      table.table.table-condensed
                        tr(ng-repeat="(key, value) in image.result")
                          td(ng-bind="key")
                          td(ng-bind="value")
          hr
          .form-group
            button.btn.btn-xs.btn-success.btn-flat(ripple="" ng-click="ctrl.save()")  Salvar
            button.btn.btn-xs.btn-danger.btn-flat(ripple="" ng-click="ctrl.cancel()") Cancelar