.app-view-header
  | Gestão das Vendas
.container-fluid
  br
  .row
    .col-md-6(ng-if='!ctrl.status.fullscreen')
      .panel.panel-primary
        .panel-heading
          | Filtros
        .panel-body
          .div.form-horizontal
            .form-group
                label(class='col-md-2 control-label' for='start_date')
                  | Data Inicial
                .col-md-10
                  p.input-group
                    input.form-control( type='text',
                    datepicker-popup='dd/MM/yyyy',
                    ng-model='ctrl.filter.start_date',
                    is-open='ctrl.status.start_datepicker_opened',
                    ng-required='true',
                    close-text='Fechar')
                    span.input-group-btn
                      button.btn.btn-default(type='button', ng-click='ctrl.openDatepicker($event, "start")')
                        em.fa.fa-calendar
              .form-group
                label(class='col-md-2 control-label' for='end_date')
                  | Data Final
                .col-md-10
                  p.input-group
                    input.form-control( type='text',
                    datepicker-popup='dd/MM/yyyy',
                    ng-model='ctrl.filter.end_date',
                    is-open='ctrl.status.end_datepicker_opened',
                    ng-required='true',
                    close-text='Fechar')
                    span.input-group-btn
                      button.btn.btn-default(type='button', ng-click='ctrl.openDatepicker($event, "end")')
                        em.fa.fa-calendar
          hr
          .form-group
            a.btn.btn-md.btn-primary.btn-flat(href="#" ripple="" ng-click="ctrl.doReport()") Gerar Relatório
    .col-md-6(ng-class="{'col-md-12': ctrl.status.fullscreen, 'col-md-6': !ctrl.status.fullscreen}")
      .panel.panel-primary
        .panel-heading
          | Vendas realizadas
          // START button group
          .btn-group.pull-right(dropdown='dropdown' ripple="")
            button.btn.btn-xs.btn-primary.btn-flat.btn-offset-only.shadow-z1.dropdown-toggle( type='button'
            ng-disabled='disabled'
            dropdown-toggle="" )
              em.fa.fa-ellipsis-v
            ul.dropdown-menu(role='menu')
              li
                a( href='#' ng-click="ctrl.toggleFullScreen()")
                  | Tela Cheia
          // END button group
        .panel-body
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th data
                  th valor
              tbody
                tr.clickable(ng-repeat="sell in ctrl.sells" ng-click="ctrl.selectSell(sell)")
                  td
                    span(ng-bind="sell.created_at | date:'shortDate'")
                  td
                    span(ng-bind="sell.value | currency : 'R$' : 2")
              tfoot
                tr
                  td
                  td
                    strong Total
                  td
                    strong
                      span(ng-bind="ctrl.status.total_value | currency : 'R$' : 2")
          .panel.panel-default(ng-if="ctrl.selectedSell")
            .panel-heading
              | Detalhes da venda
            .panel-body
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th produto
                      th quantidade
                      th preço
                  tbody
                    tr(ng-repeat="entry in ctrl.selectedSell.entries")
                      td
                        span(ng-bind="entry.product.name")
                      td
                        span(ng-bind="entry.quantity | number : 2")
                      td
                        span(ng-bind="entry.price_at_date | currency : 'R$' : 2")